<!DOCTYPE html>
<html>
<head>
	<title>Подписки</title>
</head>
<body>
	<h1>Мои подписки ({{user}})</h1>
		<form method="POST" action=""> {% csrf_token %}	
		<p>{{form.as_p}}</p>
		<p>Подписки</p>	
		{% for x in blogs_authors1 %}
		<li>{{x}}</li>
		{% endfor %}
		<p></p>
		<input type='submit' value='Подписаться' name='subscribe' style='float: left'>
		<input type='submit' value='Отписаться' name='unsubscribe' style='float: left'>	
		</form>
		<form method="GET" action="/post_list/"> {% csrf_token %}	
		<input type='submit' value='Вернуться в блог' name=''>
		</form>


</body>
</html>